__pycache__/
Data/
"Testing Files/Data"
.idea/
/height_weight_genders.csv
/least_squares_1.csv
/logistic_regression_1.csv
/sample-submission.csv
/test.csv
/train.csv
/logistic_regression_hessian.csv
/preprocess_hessian.txt
/preprocess_hessian_final.txt
/feature_exp_GD.txt
